---
title: <tmpl_var swib> Programme
---

# Programme

<tmpl_loop days_loop>
<div id="<tmpl_var day_id>">

## <tmpl_var day>

<tmpl_loop sessions_loop>
<div id="<tmpl_var session_id>">

### <tmpl_var session_title>


<tmpl_loop abstracts_loop>
<div id="<tmpl_var abstract_id>">

#### <tmpl_var abstract_title>

<tmpl_loop authors_loop><tmpl_if author_id>[</tmpl_if><tmpl_var name><tmpl_if author_id>](speakers.html#<tmpl_var author_id>)</tmpl_if><tmpl_if orcid> [<img src="images/orcid.png" title="ORCID: <tmpl_var orcid>">](https://orcid.org/<tmpl_var orcid>)</tmpl_if><tmpl_if index><sup><tmpl_var index></sup></tmpl_if><tmpl_unless __last__>, </tmpl_unless></tmpl_loop>

<tmpl_loop organisations_loop><tmpl_if index><tmpl_var index>: </tmpl_if><tmpl_var name><tmpl_unless __last__>; </tmpl_unless></tmpl_loop>

<tmpl_var abstract>

</div>
</tmpl_loop>

</div>
</tmpl_loop>

</div>
</tmpl_loop>


