---
pagetitle: <tmpl_var swib> Registration
---

<div id="main">

# Registration

<strong>The registration for SWIB23 has ended.</strong>

Conference fee: 180€\
Workshop fee: 70€ (optional, only bookable in combination with conference participation)\
Conference Dinner: 39,50€ (optional, only bookable in combination with conference participation)

</div>

<tmpl_include sidebar.md.inc>

