---
pagetitle: "<tmpl_var swib>: <tmpl_var session_title>"
---


<div id="top">
<div class="column left">![](../images/swib.png "swib logo")</div>
<div class="column middle"><tmpl_if announce>next: &#160; <tmpl_var start_date> <tmpl_var start_time>-<tmpl_var end_time> h <span style="font-size:81%">(UTC)</span></tmpl_if></div>
<div class="column right<tmpl_if announce> simply-countdown</tmpl_if>"></div>
</div>

<div id="prog">

# <tmpl_var session_title>

<tmpl_loop abstracts_loop>

## <tmpl_var abstract_title>

<tmpl_loop authors_loop><tmpl_if author_id><u></tmpl_if><tmpl_var name><tmpl_if author_id></u></tmpl_if><tmpl_if index><sup><tmpl_var index></sup></tmpl_if><tmpl_unless __last__>, </tmpl_unless><tmpl_if orcid></tmpl_if></tmpl_loop><br />
<tmpl_loop organisations_loop><tmpl_if index><sup><tmpl_var index> </sup></tmpl_if><tmpl_var name><tmpl_unless __last__>; </tmpl_unless></tmpl_loop>

</tmpl_loop>

</div>

<tmpl_if announce>
<script src="../scripts/simplyCountdown.min.js"></script>
<script>
    simplyCountdown('.simply-countdown', {
            year: <tmpl_var year>, // required
            month: <tmpl_var month>, // required
            day: <tmpl_var day>, // required
            hours: <tmpl_var hours>, // Default is 0 [0-23] integer
            minutes: <tmpl_var minutes>, // Default is 0 [0-59] integer
            seconds: 0, // Default is 0 [0-59] integer
            words: { //words displayed into the countdown
                days: { singular: 'day', plural: 'days' },
                hours: { singular: 'hour', plural: 'hours' },
                minutes: { singular: 'minute', plural: 'minutes' },
                seconds: { singular: 'second', plural: 'seconds' }
            },
            plural: true, //use plurals
            inline: false, //set to true to get an inline basic countdown like : 24 days, 4 hours, 2 minutes, 5 seconds
            inlineClass: 'simply-countdown-inline', //inline css span class in case of inline = true
            // in case of inline set to false
            enableUtc: true, //Use UTC or not - default : false
            onEnd: function() { return; }, //Callback on countdown end, put your own function here
            refresh: 1000, // default refresh every 1s
            sectionClass: 'simply-section', //section css class
            amountClass: 'simply-amount', // amount css class
            wordClass: 'simply-word', // word css class
            zeroPad: false,
            countUp: false
    });
</script>
</tmpl_if>
