---
pagetitle: "<tmpl_var swib>: Session slide index"
---


# <tmpl_var swib> session slides

<tmpl_loop slides_loop>- <tmpl_var start_date> <tmpl_var start_time>: <tmpl_var session_title> ([announce](<tmpl_var session_id>_announce.html), [background](<tmpl_var session_id>.html))
</tmpl_loop>
