---
pagetitle: "<tmpl_var swib>: <tmpl_var session_title>"
---


<div id="top">
<div class="column left">![](../images/swib.png "swib logo")</div>
<div class="column middle"><tmpl_var session_title></div>
<div id="countdown" class="column right"></div>
</div>

<div id="prog">
<div><tmpl_if chair1_name>Moderators: <tmpl_var chair1_name><tmpl_if chair1_organisation> (<tmpl_var chair1_organisation>)</tmpl_if>, <tmpl_var chair2_name><tmpl_if chair2_organisation> (<tmpl_var chair2_organisation>)</tmpl_if></tmpl_if></div>

<tmpl_if start_date></tmpl_if> <tmpl_if start_time></tmpl_if> <tmpl_if end_time></tmpl_if> <tmpl_if session_info></tmpl_if> 

<tmpl_loop abstracts_loop>

## <tmpl_var abstract_title>

<b><tmpl_loop authors_loop><tmpl_if author_id><u></tmpl_if><tmpl_var name><tmpl_if author_id></u></tmpl_if><tmpl_if organisations_loop><tmpl_if index><sup><tmpl_var index></sup></tmpl_if></tmpl_if><tmpl_unless __last__>, </tmpl_unless><tmpl_if orcid></tmpl_if></tmpl_loop></b><tmpl_if organisations_loop><br />
<tmpl_loop organisations_loop><tmpl_if index><sup><tmpl_var index> </sup></tmpl_if><tmpl_var name><tmpl_unless __last__>; </tmpl_unless></tmpl_loop></tmpl_if>

</tmpl_loop>

</div>

<tmpl_if announce>

<script src="../scripts/moment.min.js"></script>
<script>
  var startDate = moment.utc("<tmpl_var year>-<tmpl_var month>-<tmpl_var day>T<tmpl_var hours>:<tmpl_var minutes>:00");

  var x = setInterval(function() {
    var now = moment();
    var t = startDate - now;

    var days = Math.floor( t / ( 1000 * 60 * 60 * 24 ));
    var hours = Math.floor((t%(1000 * 60 * 60 * 24))/(1000 * 60 * 60));
    var minutes = Math.floor((t % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((t % (1000 * 60)) / 1000);

    document.getElementById("countdown").innerHTML = days + "d "
        + hours + "h " + minutes + "m " + seconds + "s ";
    if (t < 0) {
      clearInterval(x);
      document.getElementById("countdown").innerHTML = "STARTING ...";
    }
  }, 1000);
</script>

</tmpl_if>
