---
pagetitle: <tmpl_var swib> Speakers
---

<div id="main">

# Speakers

<tmpl_if speakers_loop>

<tmpl_loop speakers_loop>
<div id="<tmpl_var author_id>">

## <tmpl_var title><tmpl_if orcid> [<img src="images/orcid.png" title="ORCID: <tmpl_var orcid>">](https://orcid.org/<tmpl_var orcid>)</tmpl_if>

<tmpl_var abstract>

</div>
</tmpl_loop>

<tmpl_else>
TBD
</tmpl_if>

</div>

<tmpl_include sidebar.md.inc>

